.tile-highlight:not(.chess-piece-tile)::before{
    content: " ";
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: rgba(0,0,0,0.4);
    /* z-index: 5; */
}
.tile-highlight.chess-piece-tile::before{
    position: absolute;
    content: " ";
    width: 90px;
    height: 90px;
    /* border-radius: 50%; */
    background-color: rgba(255, 0, 0, 0.6);
    /* z-index: 5; */
}